.App {
  text-align: center;
}

.counter{
  margin: 50px;
  font-size: 50px;
}

.InputSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input{
  padding: 20px;
  border-radius: 20px;
  border: none;
}

button{
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}